.thumbs-carusel {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;

  @mixin atSmall {
    /* margin-right: 20px !important; */
  }

  &__container {
    bottom: 80px;
    width: 80%;
    margin: 0 auto;
    position: relative;

    @mixin atSmall {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: 100%;
      bottom: initial;
      top: 62%;
    }
  }

  &__bar {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: darkgray;
  }

  &__progress-bar {
    z-index: 10;
    width: 0%;
    background-color: $brown;
  }

  .swiper-wrapper {
    width: 100%;
    display: flex;

    > * {
      flex-grow: 1;
    }
  }
  .swiper-slide {
    color: #fff;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: color 250ms linear;
    text-shadow: 2px 2px 5px #000;

    @mixin atSmall {
      justify-content: right;
      width: 80%;
    }

    &:hover {
      color: $brown;
    }
  }

  .swiper-slide-thumb-active {
    color: $brown;

    .thumbs-carusel__progress-bar {
      width: 100%;
      transition: width 5200ms linear;

      @mixin atSmall {
        transition: none;
        width: 100%;
      }
    }
  }
}
